#nav {
    /* 设置覆盖显示的层级 */
    z-index: 9999;
    /* 固定导航条 */
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #333;
    opacity: 0.8;
}

.nav-conten {
    width: 1200px;
    height: 100%;
    /* background-color: pink; */
    margin: auto;
}

/* logo标题 */
.logo {
    float: left;
    width: 150px;
    height: 100%;
    /* background-color: skyblue; */
    text-align: center;
    line-height: 60px;
    color: #fff;
    /* 字体间隔 */
    letter-spacing: 2px;
    /* 字体类型 */
    font-family: '宋体';
}

/* 导航列表 */
.nav-list {
    float: right;
    width: 550px;
    height: 60px;
    /* background-color: green; */
}

.nav-list>li {
    /* 浮动排版水平 */
    float: left;
    width: 90px;
    height: 60px;
    /* background-color: orange; */
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 15px;
    font-family: '宋体';
    cursor: pointer;
}
.nav-list>li:hover{
    color: #ccc;
}

.home{
    position: relative;
    width: 100%;
    height: 950px;
    /* background-color: pink; */
}
.fx-video{
    width: 100%;
    height: 100%;
    /* 等比例铺满视频 */
    object-fit: cover;
}

/* 主体内容标题 */
.hom-content{
    /* 绝对定位 */
    position: absolute;
    top: 30%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 600px;
    height: 400px;
    /* background-color: skyblue; */
    text-align: center;
    color: #fff;
    letter-spacing: 10px;
}
.hom-content>h2{
    margin-bottom: 100px;
    /* 英文单词间隔 */
    /* word-spacing: 10px; */
    font-size: 1.8em;
}
.roll-box{
    /* 相对定位以离他最近的h2作为参照物 */
    position: relative;
    top: 165px;
    width: 35px;
    height: 50px;
    border: 2px solid #ccc;
    margin: auto;
    border-radius: 15px;
}
.roll-box>span{
    /* 参照物是它的父容器 */
    position: absolute;
    top: 45px;
    left: 13px;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    /* 动画属性  动画名  动画时间 */
    animation: move 2s infinite;
}
/* 也可以从上往下把top值对调就行了 */
@keyframes move{
    100%{
        top: 0px;
        opacity: 0;
    }
}

#author{
    width: 100%;
    height: 500px;
    background-color: #eee;
}
.author-wrap{
    position: relative;
    top: 50px;
    width: 1200px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
}
.author-wrap>h1{
    position: absolute;
    top: 44px;
    left: 48px;
    font-size: larger;
    font-style: normal;
    color: rgb(0,138,189);
}
.author-wrap>span{
    position: relative;
    top: 130px;
    left: 53px;
    border: red;
}
.author-wrap>span>p{
    font-style: normal;
    font-family: '楷体';
    color: rgb(0,138,189);
}
.img-rad{
    position:absolute;
    width: 300px;
    height: 300px;
    border-radius:50%;
    top: 50px;
    margin-left: 450px;
    /* border: red solid 2px; */
}
.img-rad>img{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius:50%;
    /* margin-left: 0%; */
    /* border: gray 2px; */
}
.img-rad2{
    position:absolute;
    width: 300px;
    height: 300px;
    border-radius:50%;
    top: 50px;
    margin-left: 852px;
    /* border: red solid 2px; */
}
.img-rad2>img{
    position: absolute;
    width: 300px;
    height: 300px;
    /* margin-left: 0%; */
    /* border: gray 2px; */
}
