#nav {
    z-index: 9999;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #333;
    opacity: 0.8;
}

.nav-conten {
    width: 1200px;
    height: 100%;
    /* background-color: pink; */
    margin: auto;
}

/* logo标题 */
.logo {
    float: left;
    width: 150px;
    height: 100%;
    /* background-color: skyblue; */
    text-align: center;
    line-height: 60px;
    color: #fff;
    letter-spacing: 2px;
    font-family: '宋体';
}

/* 导航列表 */
.nav-list {
    float: right;
    width: 550px;
    height: 60px;
    /* background-color: green; */
}

.nav-list>li {
    float: left;
    width: 90px;
    height: 60px;
    /* background-color: orange; */
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 15px;
    font-family: '宋体';
    cursor: pointer;
}
.nav-list>li:hover{
    color: #ccc;
}

.home{
    position: relative;
    width: 100%;
    height: 950px;
    /* background-color: pink; */
}
.fx-video{
    width: 100%;
    height: 100%;
    /* 等比例铺满视频 */
    object-fit: cover;
}

/* 主体内容标题 */
.hom-content{
    /* 绝对定位 */
    position: absolute;
    top: 30%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 600px;
    height: 400px;
    /* background-color: skyblue; */
    text-align: center;
    color: #fff;
    letter-spacing: 10px;
}
.hom-content>h2{
    margin-bottom: 100px;
    /* 英文单词间隔 */
    /* word-spacing: 10px; */
    font-size: 1.8em;
}
.roll-box{
    position: relative;
    top: 165px;
    width: 35px;
    height: 50px;
    border: 2px solid #ccc;
    margin: auto;
    border-radius: 15px;
}
.roll-box>span{
    position: absolute;
    top: 45px;
    left: 13px;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    /* 动画属性  动画名  动画时间 */
    animation: move 2s infinite;
}
@keyframes move{
    100%{
        top: 0px;
        opacity: 0;
    }
}

#author{
    width: 100%;
    height: 500px;
    background-color: #eee;
}
.author-wrap{
    position: relative;
    top: 50px;
    width: 1200px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
}